@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="~/images/building.jpg" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>SkyLand Hotel</h1>
            <p class="opacity-75">Make you feel like at home</p>
            <p><a class="btn btn-lg btn-primary" href="#">Visit us today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="~/images/hotel_room.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>Blending with magnificent nature.</h1>
            <p class="opacity-75">We'd love to bring you the best memories .</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="~/images/hotel_room_1.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Your happiness is our happiness.</h1>
            <p class="opacity-75">Take a deep breath and let us take a good care of you.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/images/heading_1.jpg"  alt="...">
        <h2 class="fw-normal">Pampered</h2>
        <p>We pamper your truly happiness. Your joy comes first.</p>
        <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/images/heading_2.jpg"  alt="...">
        <h2 class="fw-normal">Sky Walker</h2>
        <p>Another day another tour. Come to join more fun activities.</p>
        <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/images/heading_3.jpg"  alt="...">
        <h2 class="fw-normal">Wanderer</h2>
        <p>Best days are relaxing days.</p>
        <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Built-in Key. <span class="text-body-secondary">One app for everything.</span></h2>
        <p class="lead">No more key card. No more lost. No more fear.</p>.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/images/feature_1.jpg" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">You deserve better. <span class="text-body-secondary">Enjoy your trip the way you like.</span></h2>
        <p class="lead">The world offers more than you can see.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/images/feature_2.jpg" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Gone with the wind. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">Come to us and leave all the worries behind.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/images/feature_3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
